<div class="modal fade" id="creditsModal" tabindex="-1" aria-labelledby="creditsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="creditsModalLabel">Credits</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-2xl"></i></button>
            </div>
            <div class="modal-body">
                {{ with .credits }}
                    {{ markdownify . }}
                    <hr>
                {{ end }}
                {{ with .cookbook_icons_credits }}
                    {{ markdownify . }}
                    <hr>
                {{ end }}
                {{ markdownify .cookbook_credits }}
            </div>
        </div>
    </div>
</div>
