{{ define "body" }}
    <div class="container py-4">
        {{ with .Resources.GetMatch "16x9/recipe.jpg" }}
            <img src="{{ .RelPermalink }}" alt="Lead image for recipe {{ $.Page.Title }}" class="rounded mx-auto d-block img-fluid">
        {{ end }}
        {{ partial "recipe/header.html" . }}
        {{ partial "recipe/description.html" . }}
        {{ partial "recipe/equipment.html" .}}
        <div class="row row-cols-1 row-cols-md-2 pt-4">
            {{ partial "recipe/ingredients/ingredients.html" . }}
            {{ with .Params.instructions }}
                {{ partial "recipe/directions.html" . }}
            {{ end }}
        </div>
    </div>
{{ end }}

{{ define "google_data" }}
    {{ partial "google-recipe.html" . }}
{{ end }}
