{{ define "body" }}
    <div class="container py-4">
        {{ if isset .Params "lead_image_16x9" }}
            {{ with .Resources.GetMatch .Params.lead_image_16x9 }}
                <img src="{{ .RelPermalink }}" alt="Lead image for recipe {{ $.Page.Title }}" class="rounded mx-auto d-block img-fluid">
            {{ else }}
                {{ errorf "Lead image not found for recipe \"%s\"" $.Page.Title }}
            {{ end }}
        {{ else if not .Draft }}
            {{ warnf "Lead image not set for recipe \"%s\"" $.Page.Title }}
        {{ end }}
        {{ partial "recipe/header.html" . }}
        {{ partial "recipe/description.html" . }}
        {{ partial "recipe/equipment.html" .}}
        <div class="row pt-4">
            {{ partial "recipe/ingredients/ingredients.html" . }}
            {{ with .Params.instructions }}
                {{ partial "recipe/directions/directions.html" . }}
            {{ end }}
            {{ with .Params.external_recipe }}
                {{ partial "recipe/external_recipe.html" . }}
            {{ end}}
        </div>
    </div>
{{ end }}

{{ define "google_data" }}
    {{ if .Params.googleReady }}
        {{ partial "google-recipe.html" . }}
    {{ end }}
{{ end }}
