<div class="card h-100">
    {{ $isFeatured := lt .Weight 4 }}
    {{ if $isFeatured }}
        <h4 class="card-header text-bg-primary">
            Featured Recipe
        </h4>
    {{ else if isset .Params "external_recipe" }}
        <h4 class="card-header text-muted">
            External Recipe
        </h4>
    {{ else }}
        <h4 class="card-header text-bg-secondary">
            Recipe
        </h4>
    {{ end }}
    {{ $image := resources.GetMatch "images/4x3/recipe-without-image.png" }}
    {{ if isset .Params "card_image_4x3" }}
        {{ with .Resources.GetMatch "4x3/recipe.jpg" }}
            {{ $image = . }}
        {{ else }}
            {{ errorf "Card image not found for recipe \"%s\"" $.Page.Title }}
        {{ end }}
    {{ else if not .Draft }}
        {{ warnf "Card image not set for recipe \"%s\"" $.Page.Title }}
    {{ end }}
    {{ $image = $image.Resize "800x600" }}
    <img src="{{ $image.RelPermalink }}" alt="Lead image for recipe {{ .Title }}">
    <div class="card-body">
        <div class="d-grid">
            <a href="{{ .RelPermalink }}" class="btn btn-lg btn-outline-primary stretched-link">{{ .Title }}</a>
        </div>
        <p class="card-text pt-2">{{ .Summary }}</p>
    </div>
    <div class="card-footer text-muted" data-format-distance-to-now="true">
        {{ .Date.Format "2006-01-02 15:04:05" }}
    </div>
</div>
