<li class="list-group-item">
    {{ $section := .section }}
    {{ $step := .step }}
    <div class="row">
        <div class="col-12 col-md-7 col-xl-8">
            {{ with $step.name }}<h5 class="text-primary">{{ . }}</h5>{{ end }}
            {{ page.RenderString $step.text }}
        </div>
        <div class="col-12 col-md-5 col-xl-4">
            {{ partial "recipe/directions/step-ingredients.html" . }}
        </div>
    </div>
    {{ with .step.image }}
        {{ $image := page.Resources.GetMatch (. | printf "16x9/%s") }}
        {{ $image = $image.Fill "1600x900" }}
        <div class="mt-2 mx-5">
            <img src="{{ $image.RelPermalink }}" alt="Completed recipe step" class="img-fluid rounded">
        </div>
    {{ end }}
</li>
