{{ if isset .Params "lead_image_16x9" }}
    {{ with .Resources.GetMatch .Params.lead_image_16x9 }}
        <img src="{{ .RelPermalink }}" alt="Lead image for recipe {{ $.Page.Title }}" class="rounded mx-auto d-block img-fluid">
    {{ else }}
        {{ errorf "Lead image not found for recipe \"%s\"" $.Page.Title }}
    {{ end }}
{{ else if not .Draft }}
    {{ warnf "Lead image not set for recipe \"%s\"" $.Page.Title }}
{{ end }}
<div class="row pt-4">
    <div class="col text-center">
        <h1 class="display-1">{{ .Title }}</h1>
    </div>
</div>
<div class="row pt-2">
    <div class="d-flex flex-lg-row flex-column gap-2 justify-content-center">

    </div>
</div>
