{{ if and .ingredients (ge (len .ingredients) 1) }}
    <li class="list-group-item">
        <h5 class="text-primary">{{ .categoryName }}</h5>
        <ul class="list-group">
            {{ $ingredientLabels := .ingredientLabels }}
            {{ $links := .links }}
            {{ $pageTitle := .pageTitle }}
            {{ range .ingredients }}
                <li class="list-group-item list-group-item-primary d-flex gap-1 justify-content-between align-items-center">
                    {{ $label := (partial "recipe/ingredients/label.html" (dict "ingredient_labels" $ingredientLabels "key" .)) }}
                    {{ if isset $links . }}
                        {{ $ingredient_link := index $links . }}
                        {{ $found_link := false }}
                        {{ range page.GetTerms "ingredients" }}
                            {{ if eq .Data.Term $ingredient_link }}
                                {{ $found_link = true }}
                                <span>{{ $label }}</span>
                                <a href="{{ .RelPermalink }}"><span class="badge bg-primary rounded-pill">{{ len .Data.ingredient }}</span></a>
                            {{ end }}
                        {{ end }}
                        {{ if not $found_link }}
                            {{ errorf "Invalid ingredient link for %s in recipe %s" . page.Title }}
                        {{ end }}
                    {{ else }}
                        <span>{{ $label }}</span>
                    {{ end }}
                </li>
            {{ end }}
        </ul>
    </li>
{{ end }}