<div class="col">
    {{ $section_base_params := (dict "site_params" $.Site.Params "page_params" $.Page.Params "recipe" $.Page.Title) }}
    {{ range .Params.ingredient_sections }}
        {{ if isset . "section_title" | and (isset . "section_alternatives") }}
            {{ $section_params := merge $section_base_params (dict "title" .section_title "alternatives" .section_alternatives) }}
            {{ partial "recipe/ingredients/section.html" $section_params }}
        {{ else }}
            {{ $section_params := merge $section_base_params (dict "title" . "ingredient_information" (index $.Page.Params .)) }}
            {{ partial "recipe/ingredients/section.html" $section_params }}
        {{ end }}
    {{ else }}
        {{ $section_params := merge $section_base_params (dict "title" "Ingredients" "ingredient_information" $.Page.Params) }}
        {{ partial "recipe/ingredients/section.html" $section_params }}
    {{ end }}
</div>
